

$green          : #37b962;
$blue           : #45a29e;
$blue-light     : #66fcf1;
$dark           : #0b0c10;
$dark-light     : #1f2833;
$pink           : #f99690;
$pink-dark      : #f66860;
$pastelViolet   : #cfb7d5;
$pastelBlue     : #6db3fc;
$red            : #FF0000;
