html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}
html,body{
    margin: 0;
    padding: 0;
}

html,body {
    background: linear-gradient( $dark-light, $dark);
    background-repeat: no-repeat;
    background-clip: content-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    scroll-behavior: auto;

    
    &.stop-scrolling {
        height: 100%;
        overflow: hidden;
        // touch-action: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }

}

.animate__fadeInDown {
    --animate-duration: 3s;
}
.animate__fadeInRight, .animate__fadeInLeft {
    --animate-duration: 1.5s;
}
.details-frame.animate__fadeIn {
    --animate-duration: 9s;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 9s
}
.search-card-description.animate__animated.animate__fadeIn{
    --animate-duration: 3s
}
.search-card-title.animate__animated.animate__fadeIn {
    --animate-duration: 3s
}