.btn-video {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    width: 100px;

    transition: color .3s ease-in;

    
    .fab.fa-youtube {
        font-size: x-large;

        transition: color .3s ease-in;
    }
    &:hover {
        color: darken($color: white, $amount: 50);

        .fab.fa-youtube{
            color: $red
        }

    }
    // transition: all .4s ease-in-out;
};