.btn-video {
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    margin-bottom: 5%;
    background-color: transparent;
    
    .fab.fa-youtube {
        text-align: center;
        align-items: center;
        font-size: x-large;
        background: linear-gradient( 90deg, $pastelPink , $dark 110%);
        -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        transition: color .5s ease-in-out;
    }
    &:hover {
        .fab.fa-youtube{
            color: $red
        }
    }
    // transition: all .4s ease-in-out;
};