.details-frame {
    background-repeat: no-repeat;
    background-size: cover;
}

.details-title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    left: 15px;
    position: fixed;
    top: 10px;
    width: 20vw;
    z-index: 100;

    span {
        margin: 20px;
    }
}

.details-row {
    // background-color: rgb(30, 255, 0);
    color: white;


    .details-container {
        justify-content: space-evenly;
        padding: 0 10vw 0 20vw;
        // background-color: violet;
      
        
        .details-poster, .details-description{
            margin-left: 20px;
        }

        
        .details-poster {
            background-color: white;
            border-radius: 20px;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: -0px 0 1200px $pastelPink;
            height: 37vmax;
            width: 25vmax;
        }
        
        .details-description {
            // background-color: tomato;
            display: flex;
            flex-direction: column;
            padding: 20px 0 0 0;
            max-height: 100%;
            overflow: hidden;

            .title {
                background: linear-gradient(270deg, $dark 1%, white );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                margin-left: 50px;
                width: 85%;
                
            }
            
            .details-text {
                padding: 0 10px 0 0;
                // background-color: turquoise;
            }
            
        }
    }
    
    .details-actors  {   
        
        #slider-Actores{
            height: 18vh;
            // background-color: yellowgreen;
            .slider-container.cast{
                // background-color: yellow;
            }
        }

    }
}

@media (max-width: 600px) {

    .details-title {
        display: none;
    }
    
    .details-row {
        // background-color: rgb(30, 255, 0);
        color: white;
        // height: 90vh;
        // padding: 50px;
    
        .details-container {
            padding: 0;
            
            .details-poster {
                background-color: white;
                border-radius: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: -0px 0 500px $pastelPink;
                // height: 37vmax;
                // min-width: 50vh;
            }
            
            .details-description {
                // background-color: tomato;
                // display: flex;
                // flex-direction: column;
                // padding: 20px;
                min-width: 50vh;
                overflow: hidden;
    
                .title {
                    background: linear-gradient(270deg, $dark 1%, white );
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: bold;
                    margin-left: 50px;
                    width: 85%;
                    
                }
                
                .details-text {
                    // background-color: turquoise;
                }
                
            }
        }
        
        
    }
}

