.nav-season-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    width: 100%;

    // background-color: turquoise;

    ul {
        // background-color: violet;
    }
}

.nav-link {
    color: white;

    &:hover {
        color: $pink
    }
}

.season-desc {

    display: flex;
    justify-content: center;
    width: 100%;

    img {
        border-radius: 20px;
        max-height: 300px;
    }

    blockquote {
        font-weight: lighter;

    }

    ul{
        text-align: start;
        list-style: none;
        font-weight: lighter;
        // width: 100%;
    }
}

.tab-content {
    // background-color: darkgoldenrod;

    width: 100%;

    .tab-pane {
        
        text-align: center;
        align-items: center;
        // background-color: darkgray;
        width: 100%;

    }


}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $pink-dark;
    background-color: transparent;
    border-bottom: solid 0.1px $pink-dark;
}

@media (max-width: 1200px) {
    .season-desc {

        display: inline;
        justify-content: center;
        width: 80%;
    
        img {
            border-radius: 20px;
            max-height: 300px;
        }
    
        blockquote {
            text-align: justify;
            padding: 20px 50px 20px 50px;
            // width: 60%;
        }
    
        ul{
            text-align: start;
            list-style: none;
            font-weight: lighter;
            // width: 100%;
        }
    }
}