
.myNav {
    // background-color: turquoise;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    list-style: none;
    
    transition: width .4s ease-in-out;

    .myNav-item {
        padding: 10px;
        color: white;
    
        .text {
            position: static;
            left: 0;
        }

    }
    
    .nav-link {
        color: white;
        font-size: 15px;
    
        &:hover {
            color: $blue-light;
            &.search {
                color: white;
            }
        }
    
        &:active {
            color: $blue;
        }


    }
}

@media (max-width: 618px ) {

    .myNav {
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        
        transition: width .4s ease-in-out;
    
        .myNav-item {
            // padding: 10px;
            color: white;
        
            .text {
                position: static;
                left: 0;
            }
    
        }
        
        .nav-link {
            color: white;
            font-size: 15px;
        
            &:hover {
                color: $blue-light;
                &.search {
                    color: white;
                }
            }
        
            &:active {
                color: $blue;
            }
    
    
        }
    }
}
