
.myNav {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    list-style: none;
}

// .myNav-item {
//     padding: 10px;
//     color: white;
// }

// .nav-link {
//     color: $blue-light;

//     &:hover {
//         color: $green;
//     }

//     &:active {
//         color: $blue;
//     }
// }