

//=============
// Search nav
//=============
.search-frame {
    
    .fas.fa-search {
        &:hover {
            color: $blue-light;
        }
    }
    .fas.fa-times {
        &:hover {
            color: red;
        }
    }

    .input-search {
    
        border-radius: 10px;
        border: solid 0.1px lighten($color: $dark-light, $amount: 10);
        background-color: $dark-light;
        color: white;
        font-size: 13px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        &:focus {
            outline: none;
            border: solid 0.1px $blue-light;
        }
    }
}




//===============
// Search results
//===============
.search-res-title {
    background: linear-gradient(270deg, $dark 1%, white );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-left: 50px;
    width: 30vw;
}

.search-res-container {
    // background-color: darkgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // height: 110vh;
    padding: 0 100px 50px 100px;


    // margin-bottom: 100px;

    a{
        cursor: auto;
    }
}

.search-card { 
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $dark;
    cursor: pointer;
    float: left;
    height: 28vh;
    margin: 10px;
    width: 18vh;
    
    transition:  box-shadow .8s ease-in-out, color .5s ease-in-out, background-color .9s ease-in-out;
    
    
    
    .search-card-title {
        .far { font-size: 13px }
    }
    
    
    .search-card-description {
        color: white;
        display: none;
        font-family:  Calibri, sans-serif;
        font-size: 12px;
        padding: 15px;
        width: 18vh;
        overflow: hidden;
        
    }
    
    
    &:hover {   
        box-shadow: 0 0 10px white;
        
        .search-card-description{
            height: 100%;
            display: inline-block;
            border-radius: 20px;
            background-color: transparentize($color: $dark, $amount: 0.1);
        }
    }
        
}

@media (max-width: 400px ) {
    .search-res-title {
        background: linear-gradient(270deg, $dark 1%, white );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin-left: 50px;
        width: 100vw;
    }

    .search-res-container {
        justify-content: center;
        padding: 0;

    }
    .search-card { 
        height: 18vh;
        width: 12vh;
    }
}