.slider-title {
    background: linear-gradient(270deg, $dark 1%, white );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-left: 50px;
    width: 250px;
}

.slider-frame {
    // background-color: khaki;
    height: 32vh;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 0 ;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: 1;
    width: 100vw;

    scroll-behavior: smooth;

   
    .btn {
        width: 40px;
        height: 100%;
        background: rgba(0,0,0,0.05);
        position: fixed;
        top: 0;
        z-index: 1000;
        
        &:hover {
        background: rgba(0,0,0,0.3);

        }

        &.prev{
            left: 0vw;
        }
    
        &.next{
            right: 0vw;
        }


    }
    
    .slider-container {
        // background-color: violet;
        display: flex;
        flex-direction: row;
        height: 95%;
        min-width: max-content;
        align-items: center;
        left: 0;
        overflow: hidden;

        
        .slider-item { 
            background-color: $dark;
            background-size: cover;
            background-repeat:no-repeat;
            border-radius: 20px;
            float: left;
            height: 28vh;
            margin-right: 20px;
            width: 19vh;
            box-shadow: 2px 2px 5px $dark;

            overflow: hidden;
            
            transition: width .6s ease-out;
            transition-delay: 0.5s;

            &.circle {
                background-position: center;
                border-radius: 90px;
                height: 15vh;
                width: 15vh;
            }

            .slider-item-title {

                .far {
                    font-size: 13px;
                    color: $blue-light;
                }
            }


            .slider-item-description {
                color: white;
                display: none;
                font-family:  Calibri, sans-serif;
                font-size: 12px;
                padding: 15px;
                overflow: hidden;
                
                h3{
                    color: $blue-light;
                }
            }
            
            &:hover {
                
                background-position: left;
                background-size: contain;
                box-shadow: 3px 3px 6px $dark-light;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                width: 65vh;
                z-index: 1;
                
                
                &.circle {

                    border-radius: 90px;
                    width: 50vh;
                    
                    .slider-item-description {
                        padding: 10px;
                    }

                    ul {
                        margin-top: 20px;
                        font-size: 12px;
                    }
                    
                    span {
                        color: lighten($color: $dark-light, $amount: 20);
                        margin-right: 10px;
                    }
                }
                
                .slider-item-description {
                    display: block;
                    
                }


            }
        }
    }
    
}
