.slider-title {
    // color: $pastelPink;
    background: linear-gradient(270deg, $dark 1%, white );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-left: 50px;
    width: 250px;
}

.slider-frame {
    height: 30vh;
    position: relative;
    // background-color: $dark-light;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: 1;

    scroll-behavior: smooth;

   
    .btn {
        width: 40px;
        height: 100%;
        background: rgba(0,0,0,0.05);
        position: fixed;
        top: 0;
        z-index: 1000;
        
        &:hover {
        background: rgba(0,0,0,0.3);

        }

        &.prev{
            left: 0vw;
        }
    
        &.next{
            right: 0vw;
        }


    }
    
    .slider-container {
        // transition: margin-left .2s ease, left .5s ease;
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: absolute;
        left: 0;
        z-index: 1;

        .slider-item { 
            background-color: $dark;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            float: left;
            height: 28vh;
            margin-top: 5px;
            margin-right: 20px;
            width: 19vh;
            box-shadow: 2px 2px 5px $dark-light;
            
            transition: width .6s ease-out;

            .slider-item-title {

                .far {
                    font-size: 13px;
                    color: $blue-light;
                }
            }


            .slider-item-description {
                color: white;
                display: none;
                font-family:  Calibri, sans-serif;
                font-size: 12px;
                padding: 15px;
                overflow: hidden;
                
                h3{
                    color: $blue-light;
                }
            }
            
            &:hover {
                background-position: left;
                background-size: contain;
                box-shadow: 3px 3px 6px $dark-light;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                transform: scale(101%);
                width: 65vh;


                
                .slider-item-description {
                    display:inline-block;
                }


            }
        }
    }
    
}
